{% extends 'components/layouts/default.html' %}
{% load static %}

{% block content %}


<script defer src="{% static 'assets/js/apexcharts.js' %}"></script>
<div x-data="analytics">
    <ul class="flex space-x-2 rtl:space-x-reverse">
        <li>
            <a href="javascript:;" class="text-primary hover:underline">Dashboard</a>
        </li>
        <li class="before:content-['/'] before:mr-1 rtl:before:ml-1">
            <span>Analytics</span>
        </li>
    </ul>
    <div class="pt-5">
       

        

        

       
    </div>
</div>
<script>
  
</script>

{% endblock %}